<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: linkbootstrapCss}" }></th:block>

</head>
<body>
<header th:replace="~{layout :: header}"></header>
<form action="#" th:action="@{/facility/addFacility}" th:object="${facilityDto}" METHOD="post">
    <fieldset class="w-75 mx-auto">
        <legend class="text-center my-4"><span class="text-secondary">ADD SERVICE</span></legend>
        <div>
            <input type="hidden" th:field="*{facilityId}" disabled>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="facilityCode" type="text" th:field="*{facilityCode}"/>
            <label class="form-label" for="facilityCode">Service Code</label>
        </div>
        <div class="w-25 mx-auto my-4">
            <p style="color: red" th:if="${#fields.hasErrors('facilityCode')}" th:errors="*{facilityCode}"></p>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="name" type="text" th:field="*{facilityName}"/>
            <label class="form-label" for="name">Service Name</label>
        </div>
        <div class="w-25 mx-auto my-4">
        <p style="color: red" th:if="${#fields.hasErrors('facilityName')}" th:errors="*{facilityName}"></p>
            </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="serviceArea" type="text" th:field="*{facilityArea}"/>
            <label class="form-label" for="serviceArea">Area</label>
        </div>
        <div class="w-25 mx-auto my-4">
            <p style="color: red" th:if="${#fields.hasErrors('facilityArea')}" th:errors="*{facilityArea}"></p>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="serviceCost" type="text" th:field="*{facilityCost}"/>
            <label class="form-label" for="serviceCost">Cost</label>
        </div>
        <div class="w-25 mx-auto my-4">
            <p style="color: red" th:if="${#fields.hasErrors('facilityCost')}" th:errors="*{facilityCost}"></p>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="serviceMaxPeople" type="text" th:field="*{facilityMaxPeople}"/>
            <label class="form-label" for="serviceMaxPeople">Capacity</label>
        </div>
        <div class="w-25 mx-auto my-4">
            <p style="color: red" th:if="${#fields.hasErrors('facilityMaxPeople')}" th:errors="*{facilityMaxPeople}"></p>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="standardRoom" type="text" th:field="*{standardRoom}"/>
            <label class="form-label" for="standardRoom">Standard</label>
        </div>
        <div class="w-25 mx-auto my-4">
            <p style="color: red" th:if="${#fields.hasErrors('standardRoom')}" th:errors="*{standardRoom}"></p>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="descriptionOtherConvenience" type="text" th:field="*{descriptionOtherConvenience}"/>
            <label class="form-label" for="descriptionOtherConvenience">Other Convenience</label>
        </div>
        <div class="form-outline w-25 mx-auto my-4" id="input-pool">
            <input class="form-control" id="pool" type="text" th:field="*{poolArea}"/>
            <label class="form-label" for="pool">Pool Area</label>
        </div>
        <div class="w-25 mx-auto my-4">
            <p style="color: red" th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}"></p>
        </div>
        <div class="form-outline w-25 mx-auto my-4" id="input-floors">
            <input class="form-control" id="numberOfFloors" type="text" th:field="*{numberOfFloors}"/>
            <label class="form-label" for="numberOfFloors">Number Of Floors</label>
        </div>
        <div class="w-25 mx-auto my-4">
            <p style="color: red" th:if="${#fields.hasErrors('numberOfFloors')}" th:errors="*{numberOfFloors}"></p>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <select th:field="*{facilityType}" class="form-select" aria-label="Disabled select example" id="select-facility">
                <option value="" th:text="---FacilityType---"></option>
                <option th:each="facilityType : ${facilityList}" th:value="${facilityType.facilityTypeId}"
                        th:text="${facilityType.facilityTypeName}"></option>
            </select>
        </div>
        <div class="w-25 mx-auto my-4">
            <p style="color: red" th:if="${#fields.hasErrors('facilityType')}" th:errors="*{facilityType}"></p>
        </div>
        <div class="form-outline w-25 mx-auto my-4">
            <select th:field="*{rentType}" class="form-select" aria-label="Disabled select example">
                <option value="" th:text="---RentType---"></option>
                <option th:each="rentType : ${rentTypeList}" th:value="${rentType.rentTypeId}"
                        th:text="${rentType.rentTypeName}"></option>
            </select>
        </div>
        <div class="w-25 mx-auto my-4">
            <p style="color: red" th:if="${#fields.hasErrors('rentType')}" th:errors="*{rentType}"></p>
        </div>
    </fieldset>
    <div class="text-center">
        <button type="submit" class="btn btn-secondary mt-4 mx-2">ADD</button>
        <a href="/home"><button type="button" class="btn btn-warning mt-4 mx-2">Cancel</button></a>
    </div>
</form>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#select-facility").change(function () {
            if (this.value == 3) {
                $("#input-pool").hide();
                $("#input-pool").find("input").prop("disabled",true);
                $("#input-floors").hide();
                $("#input-floors").find("input").prop("disabled",true);
            } else if (this.value == 2) {
                $("#input-pool").hide();
                $("#input-pool").find("input").prop("disabled",true);
                $("#input-floors").show();
                $("#input-floors").find("input").prop("disabled",false);
            } else if (this.value == 1) {
                $("#input-pool").show();
                $("#input-pool").find("input").prop("disabled",false);
                $("#input-floors").show();
                $("#input-floors").find("input").prop("disabled",false);
            }
        });
    });
</script>
<footer th:replace="~{layout :: footer}"></footer>
</body>
<th:block th:replace="~{layout :: linkbootstrapJS}" }></th:block>
</html>