<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout :: linkbootstrapCss}" }></th:block>
</head>
<body style="background: lightseagreen">
<nav th:replace="~{layout :: header}">
    <!--    <form action="#" th:object="${blog}" th:replace="~{layout :: search}">-->
    <!--    <div>-->
    <!--        <select  th:field="*{category}" class="form-select" aria-label="Disabled select example" >-->
    <!--            <option value="0" th:text="-&#45;&#45;Category-&#45;&#45;"></option>-->
    <!--            <option th:each="category : ${categoryList}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>-->
    <!--        </select>-->
    <!--    </div>-->
    <!--    </form>-->
</nav>
<div th:replace="~{layout :: listTitle}"></div>
<a class="btn btn-white" th:href="@{/upload}">+ Upload new blog</a>
<a class="btn btn-white" th:href="@{/createNewCategory}">+ create new category</a>
<form class="input-group w-auto my-auto d-none d-sm-flex" th:fragment="search" th:action="@{/search}">
    <input
            autocomplete="off"
            type="search"
            class="form-control rounded"
            placeholder="Search"
            style="min-width: 125px;"
            name="keyWord"
    />
    <div class="dropdown">
        <select  class="form-select" aria-label="Disabled select example" name="categoryId">
            <option value="0" th:text="---Category---"></option>
            <option th:each="category : ${categoryList}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
        </select>
    </div>
    <button type="submit" class="btn btn-black">Search</button>
</form>
<h2 style="text-align: center">List Blog</h2>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
        <th>Stt</th>
        <th>Author</th>
        <th>Title</th>
        <th>Category</th>
        <th>Summary</th>
        <th colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog, stt : ${blogList}">
        <th scope="row" th:text="${stt.count}"></th>
        <td th:text="${blog.author}">
            <div class="d-flex align-items-center">
                <img
                        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                        alt=""
                        style="width: 45px; height: 45px"
                        class="rounded-circle"
                />
            </div>
        </td>
        <td>
            <p class="fw-normal mb-1" th:text="${blog.titleBlog}"></p>
        </td>
        <td th:text="${blog.category.categoryName}">
        </td>
        <td th:text="${blog.summary}"></td>
        <td>
            <a class="btn btn-success" th:href="@{/{id}/detailForm(id=${blog.blogId})}">Detail</a>
        </td>
        <td>
            <a class="btn btn-warning" th:href="@{/{id}/editForm(id=${blog.blogId})}">Update</a>
        </td>
        <td>
            <a class="btn btn-danger" th:href="@{/{id}/deleteForm(id=${blog.blogId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="row">
    <div class="row-lg-12">
        <a th:if="${blogList.hasPrevious()}"
        th:href="@{/list(page=${blogList.number - 1 }, keyword=${keywordVal})}">
            Previous
        </a>
        <span th:text="${blogList.number + 1 }"></span>/
        <span th:text="${blogList.totalPages}"></span>
        <a th:if="${blogList.hasNext()}"
           th:href="@{/list(page=${blogList.number + 1 }, keyword=${keywordVal})}">
            Next
        </a>
    </div>
</div>
</body>
<th:block th:replace="~{layout :: linkbootstrapJS}" }></th:block>

</html>