<div class="col-8 mx-auto">
  <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded-lg">
    <form [formGroup]="editBus" (ngSubmit)="updateBus()">
      <fieldset class="w-75 mx-auto">
        <legend class="text-center my-4"><span
          class="text-secondary">Chỉnh sửa thông tin xe khách có số xe {{bus.licensePlates}}</span></legend>
        <input type="hidden" formControlName="busId">
        <div class="form-group row">
          <div class="col-sm-9">
            <label class="form-label" for="licensePlates">Biển số xe</label>
            <input class="form-control" id="licensePlates" type="text" readonly formControlName="licensePlates"/>
            <p style="color: red" *ngIf="editBus.controls.licensePlates.hasError('required')
      && (editBus.controls.licensePlates.touched || submitted)">this information cannot be left blank</p>
          </div>
          <div class="col-sm-9">
            <label class="form-label" for="busType">Loại xe</label>
            <input class="form-control" id="busType" type="text" formControlName="busType"/>
            <p style="color: red" *ngIf="editBus.controls.busType.hasError('required')
      && (editBus.controls.busType.touched || submitted)">this information cannot be left blank</p>
          </div>
          <div class="col-sm-9">
            <label for="departurePosition">Điểm đi</label>
            <div>
              <select class="form-control" id="departurePosition" formControlName="departurePosition"
                      [compareWith]="compareWithId">
                <option value="">Điểm đi</option>
                <option value="Đà Nẵng">Đà Nẵng</option>
                <option value="Huế">Huế</option>
                <option value="Sài gòn">Sài gòn</option>
                <option value="Hà Nội">Hà Nội</option>
              </select>
              <p style="color: red" *ngIf="editBus.controls.departurePosition.hasError('required')
      && (editBus.controls.departurePosition.touched || submitted) ">
                this information cannot be left blank</p>
            </div>
          </div>
          <div class="col-sm-9">
            <label for="destination">Điểm đến</label>
            <div >
              <select class="form-control" id="destination" formControlName="destination" [compareWith]="compareWithId">
                <option value="">Điểm đi</option>
                <option value="Đà Nẵng">Đà Nẵng</option>
                <option value="Huế">Huế</option>
                <option value="Sài gòn">Sài gòn</option>
                <option value="Hà Nội">Hà Nội</option>
              </select>
              <p style="color: red" *ngIf="editBus.controls.destination.hasError('required')
      && (editBus.controls.destination.touched || submitted) ">
                this information cannot be left blank</p>
            </div>
          </div>
          <div class="col-sm-9">
            <label for="phone">Số điện thoại</label>
            <input class="form-control" id="phone" type="text" formControlName="phone"/>
            <p style="color: red" *ngIf="editBus.controls.phone.hasError('required')
      && (editBus.controls.phone.touched || submitted) ">this information cannot be left blank</p>
          </div>
          <div class="col-sm-9">
            <label for="departureTime">Giờ khởi hành</label>
            <input class="form-control" id="departureTime" type="text" formControlName="departureTime"/>
            <p style="color: red" *ngIf="editBus.controls.departureTime.hasError('required')
      && (editBus.controls.departureTime.touched || submitted) ">
              this information cannot be left blank</p>
          </div>
          <div class="col-sm-9">
            <label for="destinationTime">Giờ đến</label>
            <input class="form-control" id="destinationTime" type="text" formControlName="destinationTime"/>
            <p style="color: red" *ngIf="editBus.controls.destinationTime.hasError('required')
      && (editBus.controls.destinationTime.touched || submitted) ">
              this information cannot be left blank</p>
          </div>
          <div class="form-select">
            <label for="busWareHouse">Nhà Xe</label>
            <div class="col-sm-9">
              <select class="form-control" id="busWareHouse" formControlName="busWareHouse"
                      [compareWith]="compareWithIdBWH">
                <option value="">Nhà Xe</option>
                <option *ngFor="let busWareHouse of busWareHouseList" [ngValue]="busWareHouse">
                  {{busWareHouse.busWareHouseName}}
                </option>
              </select>
              <p style="color: red" *ngIf="editBus.controls.busWareHouse.hasError('required')
      && (editBus.controls.busWareHouse.touched || submitted) ">
                this information cannot be left blank</p>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="text-center">
        <button type="submit" class="btn btn-secondary mt-4 mx-2">Sửa</button>
        <a [routerLink]="['/buses']">
          <button type="button" class="btn btn-primary mt-4 mx-2">Quay về</button>
        </a>
      </div>
    </form>
  </div>
</div>
