<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/addBook}">+ thêm sách</a>
<a th:href="@{/listBookBorrowed}"> danh sách sách đang được mượn</a>
<h2 th:text="${message}"></h2>
<table>
    <thead>
    <tr>
        <th>Stt</th>
        <th>Tên</th>
        <th>Tác giả</th>
        <th>Số Lượng</th>
        <th>Hoạt động</th>
    </tr>
    <tbody>
    <tr th:each="book,stt : ${bookList}">
        <th th:text="${stt.count}"></th>
        <td th:text="${book.bookName}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.quantity}"></td>
        <td>
            <a th:href="@{/{id}/detailBook(id=${book.bookId})}">Mượn sách</a>
        </td>
    </tr>
    </tbody>
    </thead>
</table>
</body>
</html>