<p>color picker!</p>

<h1 [ngStyle]="{'color': color}">TRAN VAN HUU TRUNG</h1>

<input type="color" [(ngModel)]="color">


<hr>
<button (mouseover)="changeColor('red')" id="hinh_tron_do"></button>
<button (mouseover)="changeColor('yellow')" id="hinh_tron_vang"></button>
<button (mouseover)="changeColor('blue')" id="hinh_tron_xanh"></button>
<hr>
<button (mouseover)="changeColor('green')" id="hinh_tron_xanh_la"></button>
<button (mouseover)="changeColor('orange')" id="hinh_tron_cam"></button>
<button (mouseover)="changeColor('aqua')" id="hinh_tron_aqua"></button>
<hr>
<button (mouseover)="changeColor('black')" id="hinh_tron_den"></button>
<button (mouseover)="changeColor('white')" id="hinh_tron_trang"></button>
<button (mouseover)="changeColor('grey')" id="hinh_tron_xam"></button>



