<div class="col-8 mx-auto">
  <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded-lg">
    <form [formGroup]="addCustomerForm" (ngSubmit)="createCustomer()">
      <fieldset class="w-75 mx-auto">
        <legend class="text-center my-4"><span class="text-secondary">ADD CUSTOMER</span></legend>
        <div class="form-group row">
          <div class="col-sm-9">
            <label class="form-label" for="customerCode">Code</label>
            <input class="form-control" id="customerCode" type="text" formControlName="code"/>
            <p style="color: red" *ngIf="addCustomerForm.controls.code.hasError('required')
      && (addCustomerForm.controls.code.touched || submitted)">this information cannot be left blank</p>
            <p style="color: red" *ngIf="addCustomerForm.controls.code.hasError('pattern')
      && (addCustomerForm.controls.code.touched || submitted) ">INVALID.(format: KH-XXXX)</p>
          </div>
          <div class="col-sm-9">
            <label class="form-label" for="customerName">Name</label>
            <input class="form-control" id="customerName" type="text" formControlName="name"/>
            <p style="color: red" *ngIf="addCustomerForm.controls.name.hasError('required')
      && (addCustomerForm.controls.name.touched || submitted) ">this information cannot be left blank</p>
          </div>
          <div class="col-sm-9">
            <label for="customerDateOfBirth">Birthday</label>
            <input class="form-control" id="customerDateOfBirth" type="date" formControlName="birthday"/>
            <p style="color: red" *ngIf="addCustomerForm.controls.birthday.hasError('required')
      && (addCustomerForm.controls.birthday.touched || submitted) ">this information cannot be left blank</p>
          </div>
          <div class="col-sm-9">
            <label for="customerIdCard">ID Card</label>
            <input class="form-control" id="customerIdCard" type="text" formControlName="idCard"/>
            <p style="color: red" *ngIf="addCustomerForm.controls.idCard.hasError('required')
      && (addCustomerForm.controls.idCard.touched || submitted) ">
              this information cannot be left blank</p>
            <p style="color: red" *ngIf="addCustomerForm.controls.idCard.hasError('pattern')
      && (addCustomerForm.controls.idCard.touched || submitted)">INVALID.(format: 9 or 12 numbers.)</p>
          </div>
          <div class="col-sm-9">
            <label for="customerPhone">Phone</label>
            <input class="form-control" id="customerPhone" type="text" formControlName="phone"/>
            <p style="color: red" *ngIf="addCustomerForm.controls.phone.hasError('required')
      && (addCustomerForm.controls.phone.touched || submitted) ">
              this information cannot be left blank</p>
            <p style="color: red" *ngIf="addCustomerForm.controls.phone.hasError('pattern') &&
      (addCustomerForm.controls.phone.touched || submitted) ">INVALID.(format:
              [090xxxxxxx||091xxxxxxx||091xxxxxxx||(84)+91xxxxxxx])</p>
          </div>
          <div class="col-sm-9">
            <label for="customerEmail">Email</label>
            <input class="form-control" id="customerEmail" type="text" formControlName="email"/>
            <p style="color: red" *ngIf="addCustomerForm.controls.email.hasError('required')
      && (addCustomerForm.controls.email.touched || submitted) ">
              this information cannot be left blank</p>
            <p style="color: red" *ngIf="addCustomerForm.controls.email.hasError('email')
      && (addCustomerForm.controls.email.touched || submitted) ">INVALID.(format: [username@abc.xyz])</p>
          </div>
          <div class="col-sm-9" id="input-pool">
            <label for="customerAddress">Address</label>
            <input class="form-control" id="customerAddress" type="text" formControlName="address"/>
            <p style="color: red" *ngIf="addCustomerForm.controls.address.hasError('required')
      && (addCustomerForm.controls.address.touched || submitted) ">
          </div>
          <div class="col-sm-9">
            <label for="gender">Gender</label>
            <select class="form-select" id="gender" formControlName="gender" name="Gender">
              <option value="-1">Gender</option>
              <option value="1">Male</option>
              <option value="0">Female</option>
            </select>
            <p style="color: red" *ngIf="addCustomerForm.controls.gender.hasError('required')
      && (addCustomerForm.controls.gender.touched || submitted) ">
              this information cannot be left blank</p>
          </div>
          <div class="form-group row">
            <label for="customerType">Customer Type</label>
            <div class="col-sm-9">
              <select class="form-control" id="customerType" formControlName="customerType">
                <option value="">Customer Type</option>
                <option *ngFor="let customerType of customerTypes" [ngValue]="customerType">
                  {{customerType.customerType}}
                </option>
              </select>
              <p style="color: red" *ngIf="addCustomerForm.controls.customerType.hasError('required')
      && (addCustomerForm.controls.customerType.touched || submitted) ">
                this information cannot be left blank</p>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="text-center">
        <button type="submit" class="btn btn-secondary mt-4 mx-2">ADD</button>
        <a [routerLink]="['/customer/list']">
          <button type="button" class="btn btn-primary mt-4 mx-2">Cancel</button>
        </a>
      </div>
    </form>
  </div>
</div>
