<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Delete product</h2>
<form action="#" th:action="@{/delete}" th:object="${product}" method="post" novalidate="novalidate">
    <input type="hidden" th:field="*{productId}">
    <div>
        <label>Name
            <input type="text" th:field="*{productName}"/>
        </label>
    </div>
    <div>
        <label>Price:
            <input type="text" th:field="*{price}"/>
        </label>
    </div>
    <div>
        <label> Quantity:
            <input type="text" th:field="*{quantity}"/>
        </label>
    </div>
    <div>
        <label>Manufacturer: <input type="text" th:field="*{manufacturer}"/>
        </label>
    </div>
    <input type="submit" value="Delete">
    <button><a href="/list">Back To List</a></button>
</form>
</body>
</html>