body {
    font-family: Arial;
}
#menu {
    height: 100px;
    padding:0;
    margin:0;
    background-color: #000000;
    border: 1px solid #CDCDCD;
    width: 100%;
    position: fixed;
    top: 20%;
}
header{
    position: fixed;
    top: 0;
}
#menu ul, #menu li{
    padding:0;
    margin:0;
}
#menu ul, #menu li{
    padding:0;
    margin:0;
}

#menu li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}
#menu li a {
    width: 150px;
    height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: darkred;
    color: white;
}

#menu ul ul li a {
    width: 200px;
    text-align: left;
    padding-left: 10px;

}
#menu li a:hover{
    background-color: #227374;
}
#menu ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}
#menu ul li:hover ul{
    visibility: visible;
}
#mon-phai {
    width: 25%;
    height: 100%;
    font-size: 15px;
    text-align: center;
    border: #227374;
    border-collapse: collapse;
}
#luyen-cong {
    width: 25%;
    height: 100%;
    font-size: 15px;
    text-align: center;
    border: #227374;
    border-collapse: collapse;
}
#tap-chi {
    width: 25%;
    height: 100%;
    font-size: 15px;
    text-align: center;
    border: #227374;
    border-collapse: collapse;
}
#trang-bi {
    width: 25%;
    height: 100%;
    font-size: 15px;
    text-align: center;
    border: #227374;
    border-collapse: collapse;
}
header {
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: #227374;
}
.main {
    width: 100%;
    height: 500px;
}
.section-side {

    width: 60%;
    height: 500px;
    background-color: #f46159;
    float: left;
}
.aside-side{

    width: 40%;
    height: 500px;
    background-color: brown;
    float: left;
}
footer {
    width: 100%;
    height: 50px;
    background-color: darkcyan;
}