<div class="col-8 mx-auto">
  <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded-lg">
    <form [formGroup]="addContractForm" (ngSubmit)="createContract()">
      <fieldset class="w-75 mx-auto">
        <legend class="text-center my-4"><span class="text-secondary">ADD CONTRACT</span></legend>
        <div class="form-group row">
          <div class="col-sm-9">
            <label for="contractStartDate">Start Date</label>
            <input class="form-control" id="contractStartDate" type="date" formControlName="startDate"/>
            <p style="color: red" *ngIf="addContractForm.controls.startDate.hasError('required')
      && addContractForm.controls.startDate.touched ">this information cannot be left blank</p>
          </div>
          <div class="col-sm-9">
            <label for="contractEndDate">End Date</label>
            <input class="form-control" id="contractEndDate" formControlName="endDate" type="date"/>
            <p style="color: red" *ngIf="addContractForm.controls.endDate.hasError('required')
      && addContractForm.controls.endDate.touched ">this information cannot be left blank</p></div>
          <div class="col-sm-9">
            <label for="contractDeposit">Deposit</label>
            <input class="form-control" id="contractDeposit" type="number" formControlName="deposit"/>
            <p style="color: red" *ngIf="addContractForm.controls.deposit.hasError('required')
      && addContractForm.controls.deposit.touched ">this information cannot be left blank</p></div>
          <div class="col-sm-9">
            <label for="contractTotalMoney">Total</label>
            <input class="form-control" id="contractTotalMoney" type="number" formControlName="total" [value]="total"/>
            <!--            <p  [(ngModel)]="total">{{total}}</p>-->
            <p style="color: red" *ngIf="addContractForm.controls.total.hasError('required')
      && addContractForm.controls.total.touched ">this information cannot be left blank</p></div>
          <div class="form-group row">
            <label for="customer">Customer</label>
            <div class="col-sm-9">
              <select id="customer" class="form-control" formControlName="customer">
                <option value="">select customer</option>
                <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}}</option>
              </select>
            </div>
            <p style="color: red" *ngIf="addContractForm.controls.customer.hasError('required')
      && addContractForm.controls.customer.touched ">this information cannot be left blank</p></div>
          <div class="form-group row">
            <label for="facility">Facility</label>
            <div class="col-sm-9">
              <select id="facility" class="form-control" formControlName="facility"
                      (ngModelChange)="selectFacility($event)">
                <option value="">select facility</option>
                <option *ngFor="let facility of facilities" [ngValue]="facility">{{facility.name}}</option>
              </select>
            </div>
            <p style="color: red" *ngIf="addContractForm.controls.facility.hasError('required')
      && addContractForm.controls.facility.touched ">this information cannot be left blank</p>
          </div>
        </div>
      </fieldset>
      <div class="text-center">
        <button type="submit" class="btn btn-secondary mt-4 mx-2">ADD</button>
        <a [routerLink]="['/contract/list']">
          <button type="button" class="btn btn-primary mt-4 mx-2">Cancel</button>
        </a>
      </div>
    </form>
  </div>
</div>
