
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Facility: {{facilityId}}</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="id" id="get-id">
        <h1 style="color: #996969" id="get-name">
          Name Customer:{{facilityName}}
        </h1>
        <hr>
        <p>Are You Sure ???</p>
        <p style="color: red">this action cant not revert</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="submit" (click)="deleteFacility()" class="btn btn-danger" data-mdb-dismiss="modal">Delete It !
        </button>
      </div>
    </div>
  </div>
</div>
